<% include ./header/header%>

<body>
<% if(logid){ %>
<span><%= logid %>님 환영합니다</span>
<a href="/login/logout_process">Logout</a>

<% }else{ %>

<a href="/login">Login</a>

<% } %>
    <h1><a class="title"  href="/"><%= title %></a></h1>
    <ul>
        <% lists.forEach(function(list){%>
            <li><a href="/page/<%= list.pk %>">
            <%= list.title %></a></li>
        <%}); %>
    </ul>

    <a class="btn" href="/update/<%= target.pk %>">update</a>

    
    <form action="/delete_process" method="post">
        <input type="hidden" name="pk" value="<%= target.pk %>">
        <input type="submit" value="delete" class="btn">
    </form>
    
    <!--<a href="/delete/<%= target.pk %>">delete</a>
    -->
    <h2>description</h2>
    <% if (target) { %>
        <p><%= target.description %></p>
    <% } %>
   
</body>

</html>